<style>
    .outer{
        margin-top:50px;
    }
</style>

<div class="container outer">
<form>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <select class="form-control" id="Country">
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <select class="form-control" id="state">
                    <option>--Select State--</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <select class="form-control" id="city">
                    <option>--Select City--</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button class="btn btn-success">Submit</button>
            </div>
            <div class="col-sm-3"></div>
        </div>

    </div>
</form>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script src="~/Scripts/MenuData.js"></script>